*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
}

.one
{   border: solid black 2px;
    height: 100vh;
    background-color: aqua;
}

.two
{
    border: solid black 2px;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form
{
    padding-top: 400px;
    display: grid;
    grid-template-columns: auto auto;
    height: 550px;
    width: 100%;
    background-color: yellow;
    align-items: center;
    justify-content: center;
}

.im
{
    display: flex;
    flex-direction:column;
}

label
{
    margin: 0;
    padding: 0;
}

input
{
    width: 150px;
}
