*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
}

.background-pic
{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.one
{   
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-text
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
}

.two
{
    border: solid black 2px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form
{
    display: grid;
    grid-template-columns: 1 auto;
    height: 650px;
    width: 50%;
    border: black solid 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.im
{
    display: flex;
    flex-direction: column;
}

label
{
    margin: 0;
    padding: 0;
}

input
{
    width: 150px;
}
